<template>
  <div class="flex flex-wrap">
    <div class="w-full">
      <div class=" pt-4 ">
        <div class="overflow-x-scroll">
          <div class="rounded-2xl">
            <ul class=" flex mb-0 list-none rounded-2xl divide-x-2">
              <li class=" flex-auto text-center">
                <a class="rounded-l-2xl border text-xs font-bold uppercase px-8 py-3 block leading-normal" v-on:click="toggleTabs(1)" v-bind:class="{'text-[#319795] bg-white': openTab !== 1, 'text-[#E6FFFA] bg-[#81E6D9]': openTab === 1}">
                  Arbeitnehmer
                </a>
              </li>
              <li class="flex-auto text-center">
                <a class="border-t border-b text-xs font-bold uppercase px-8 py-3 block leading-normal" v-on:click="toggleTabs(2)" v-bind:class="{'text-[#319795] bg-white': openTab !== 2, 'text-[#E6FFFA] bg-[#81E6D9]': openTab === 2}">
                  Arbeitgeber
                </a>
              </li>
              <li class="flex-auto text-center">
                <a class="rounded-r-2xl border text-xs font-bold uppercase px-8 py-3 block leading-normal" v-on:click="toggleTabs(3)" v-bind:class="{'text-[#319795] bg-white': openTab !== 3, 'text-[#E6FFFA] bg-[#81E6D9]': openTab === 3}">
                  Temporärbüro
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 rounded">
        <div class=" py-5 flex-auto">
          <div class="tab-content tab-space">
            <div v-bind:class="{'hidden': openTab !== 1, 'block': openTab === 1}">
              <div class="text-center px-20">
                Drei einfache Schritte zu deinem neuen Job
              </div>
              <div class="flex justify-end pr-4 z-20">
                <img src="undraw_Profile_data_re_v81r.svg" class="z-20"/>
              </div>
              <div>
                <div class="text-gray-600 font-lato relative bottom-10 left-5 flex">
                  <div class="rounded-full bg-gray-100 bg-opacity-50 h-56 w-56 right-48 -top-12 absolute z-10">

                  </div>
                  <div class="text-9xl text-gray-600 font-lato z-30">
                    1.
                  </div>
                  <div class="flex items-end  ml-4 mb-1 z-30 pr-4">
                    Erstellen dein Lebenslauf
                  </div>
                </div>
              </div>
              <div class="bg-gradient-to-t from-[#EBF4FF] to-[#E6FFFA] relative bottom-6">
                <div class="relative">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,64L60,64C120,64,240,64,360,101.3C480,139,600,213,720,218.7C840,224,960,160,1080,138.7C1200,117,1320,139,1380,149.3L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
                </div>
                <div class="relative bottom-4">
                  <div class="text-gray-600 font-lato ml-10 flex relative bottom-4">
                    <div class="text-9xl text-gray-600 font-lato">
                      2.
                    </div>
                    <div class="flex items-end  ml-4 mb-1">
                      Erstellen dein Lebenslauf
                    </div>
                  </div>
                  <div class="flex justify-end pr-10 pt-4">
                    <img src="undraw_task_31wc.svg"/>
                  </div>
                </div>
                <div class="relative">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,128L80,122.7C160,117,320,107,480,122.7C640,139,800,181,960,165.3C1120,149,1280,75,1360,37.3L1440,0L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
                </div>
              </div>
              <div class="relative bottom-10">
                <div>
                  <div class="text-gray-600 font-lato relative ml-16 flex">
                    <div class="rounded-full bg-gray-100 h-94 w-92 right-31 -top-12 absolute">

                    </div>
                    <div class="text-9xl text-gray-600 font-lato z-10">
                      3.
                    </div>
                    <div class="flex items-end  ml-4 mb-1 z-10">
                      Mit nur einem Klick bewerben
                    </div>
                  </div>
                </div>
                <div class="flex justify-end pt-4 z-10">
                  <img src="undraw_personal_file_222m.svg" class="z-10"/>
                </div>
              </div>
            </div>
          </div>
            <div v-bind:class="{'hidden': openTab !== 2, 'block': openTab === 2}">
              <div class="text-center px-20">
                Drei einfache Schritte zu deinem neuen Mitarbeiter
              </div>
              <div class="flex justify-end pr-4 z-20">
                <img src="undraw_Profile_data_re_v81r.svg" class="z-20"/>
              </div>
              <div>
                <div class="text-gray-600 font-lato relative bottom-10 left-5 flex">
                  <div class="rounded-full bg-gray-100 bg-opacity-50 h-56 w-56 right-48 -top-12 absolute z-10">

                  </div>
                  <div class="text-9xl text-gray-600 font-lato z-30">
                    1.
                  </div>
                  <div class="flex items-end  ml-4 mb-1 z-30 pr-4">
                    Erstellen dein Unternehmensprofil
                  </div>
                </div>
              </div>
              <div class="bg-gradient-to-t from-[#EBF4FF] to-[#E6FFFA] relative bottom-6">
                <div class="relative">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,64L60,64C120,64,240,64,360,101.3C480,139,600,213,720,218.7C840,224,960,160,1080,138.7C1200,117,1320,139,1380,149.3L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
                </div>
                <div class="relative bottom-4">
                  <div class="text-gray-600 font-lato ml-10 flex relative bottom-4">
                    <div class="text-9xl text-gray-600 font-lato">
                      2.
                    </div>
                    <div class="flex items-end  ml-4 mb-1">
                      Erstellen ein Jobinserat
                    </div>
                  </div>
                  <div class="flex justify-end pr-10 relative bottom-10">
                    <img src="undraw_about_me_wa29.svg"/>
                  </div>
                </div>
                <div class="relative">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,128L80,122.7C160,117,320,107,480,122.7C640,139,800,181,960,165.3C1120,149,1280,75,1360,37.3L1440,0L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
                </div>
              </div>
              <div class="relative bottom-10">
                <div>
                  <div class="text-gray-600 font-lato relative ml-16 flex">
                    <div class="rounded-full bg-gray-100 h-94 w-92 right-31 -top-12 absolute">

                    </div>
                    <div class="text-9xl text-gray-600 font-lato z-10">
                      3.
                    </div>
                    <div class="flex items-end  ml-4 mb-1 z-10">
                      Wähle deinen neuen Mitarbeiter aus
                    </div>
                  </div>
                </div>
                <div class="flex justify-center pt-4 z-10">
                  <img src="undraw_swipe_profiles1_i6mr.svg" class="z-10"/>
                </div>
              </div>
            </div>
            <div v-bind:class="{'hidden': openTab !== 3, 'block': openTab === 3}">
              <div class="text-center px-20">
                Drei einfache Schritte zur Vermittlung neuer Mitarbeiter
              </div>
              <div class="flex justify-end pr-4 z-20">
                <img src="undraw_Profile_data_re_v81r.svg" class="z-20"/>
              </div>
              <div>
                <div class="text-gray-600 font-lato relative bottom-10 left-5 flex">
                  <div class="rounded-full bg-gray-100 bg-opacity-50 h-56 w-56 right-48 -top-12 absolute z-10">

                  </div>
                  <div class="text-9xl text-gray-600 font-lato z-30">
                    1.
                  </div>
                  <div class="flex items-end  ml-4 mb-1 z-30 pr-4">
                    Erstellen dein Unternehmensprofil
                  </div>
                </div>
              </div>
              <div class="bg-gradient-to-t from-[#EBF4FF] to-[#E6FFFA] relative bottom-6">
                <div class="relative">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,64L60,64C120,64,240,64,360,101.3C480,139,600,213,720,218.7C840,224,960,160,1080,138.7C1200,117,1320,139,1380,149.3L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
                </div>
                <div class="relative bottom-4">
                  <div class="text-gray-600 font-lato ml-10 flex relative bottom-4">
                    <div class="text-9xl text-gray-600 font-lato">
                      2.
                    </div>
                    <div class="flex items-end  ml-4 mb-1">
                      Erhalte Vermittlungs- angebot von Arbeitgeber
                    </div>
                  </div>
                  <div class="flex justify-end pr-10 relative">
                    <img src="undraw_job_offers_kw5d.svg"/>
                  </div>
                </div>
                <div class="relative">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,128L80,122.7C160,117,320,107,480,122.7C640,139,800,181,960,165.3C1120,149,1280,75,1360,37.3L1440,0L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
                </div>
              </div>
              <div class="relative bottom-10">
                <div>
                  <div class="text-gray-600 font-lato relative ml-16 flex">
                    <div class="rounded-full bg-gray-100 h-94 w-92 right-31 -top-12 absolute">

                    </div>
                    <div class="text-9xl text-gray-600 font-lato z-10">
                      3.
                    </div>
                    <div class="flex items-end  ml-4 mb-1 z-10">
                      Vermittlung nach Provision oder Stundenlohn
                    </div>
                  </div>
                </div>
                <div class="flex justify-center pt-4 z-10">
                  <img src="undraw_business_deal_cpi9.svg" class="z-10"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "tabs",
  data() {
    return {
      openTab: 1
    }
  },
  methods: {
    toggleTabs: function(tabNumber){
      this.openTab = tabNumber
    }
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

</style>
