<template>
  <div class="h-screen bg-gradient-to-t from-[#EBF4FF] to-[#E6FFFA] drop-shadow-xl">
    <div class="overflow-hidden pt-2 bg-gradient-to-r from-[#319795] to-[#3182CE] drop-shadow-xl">
    </div>
    <div class="overflow-hidden pb-4">
      <div class="bg-white w-full flex justify-end p-8 rounded-2xl relative bottom-4 shadow-xl">
        <button class="text-[#319795] font-semibold pt-2">
          Login
        </button>
      </div>
    </div>

    <div>
      <div class="text-center text-6xl text-[#2D3748]">
        Deine Job website
      </div>
      <div class="flex justify-center">
        <img src="/undraw_agreement_aajr.svg" class="w-full right-2 relative"/>
      </div>
    </div>

    <div class="rounded-2xl bg-white h-full relative bottom-10">
      <div class="flex justify-center pt-6 px-6 pb-20 border-b">
        <button class="bg-gradient-to-r from-[#319795] to-[#3182CE] text-white px-16 py-3 rounded-2xl">
          Kostenlos Registrieren
        </button>
      </div>

      <div class="">
        <AppTabs/>
      </div>

    </div>
  </div>
</template>